<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jymf.dao.LabelIndexMapper">
	<resultMap type="org.jymf.entity.LabelIndex" id="BaseResultMap">
		<result column="ID" property="id" jdbcType="BIGINT" />
		<result column="COMPANY_ID" property="companyId" jdbcType="BIGINT" />
		<result column="START_TID" property="startTid" jdbcType="BIGINT" />
		<result column="END_TID" property="endTid" jdbcType="BIGINT" />
		<result column="STATUS" property="status" jdbcType="TINYINT" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		ID,COMPANY_ID,START_TID,END_TID,STATUS,CREATE_DATE
	</sql>
	<select id="selLabelIndex" resultMap="BaseResultMap" parameterType="java.math.BigDecimal">
		select
		<include refid="Base_Column_List" />
		from tbl_label_index
		where 1=1 AND #{labelId} >= START_TID AND END_TID >= #{labelId}
	</select>
</mapper>